<div>
  <div class="container-fluid main-view-mobile">
    <div class="head-outer">
      <div class="d-flex justify-content-between head align-items-center">
        <h1>PROCESS APPLICATION</h1>
        <p><label>CLIENT NAME: </label> ELI LABOURNE</p>
      </div>
      <h1>CLIENT INFORMATION SUMMARY</h1>
    </div>
    <br>
  <inquire-process-application></inquire-process-application>

  </div>
  <div class="container-fluid">
    <button class="btn-success pull-right" routerLink="../inquire-summary-update">Next</button>
  </div>
  <br>
  <br>
</div>
