<div>
  <div class="container-fluid main-view-mobile">
    <!-- <div class="head-main">
      <h1 class="title">PROCESS APPLICATION</h1>
      <p><label>CLIENT NAME: </label> ELI LABOURNE</p>
    </div>
    <h1>CLIENT INFORMATION</h1> -->


    <div class="head-outer">
      <div class="d-flex justify-content-between head align-items-center">
        <h1>PROCESS APPLICATION</h1>
        <p><label>CLIENT NAME: </label> ELI LABOURNE</p>
      </div>
      <h1>CLIENT INFORMATION SUMMARY</h1>
    </div>
    <br>
  <inquire-process-application></inquire-process-application>

    <form [formGroup]="form">
      <span class="text-inside-div">Personal Information</span>
      <div class="section-content">
        <div class="container-fluid">
          <div class="form-group">
            <label class="control-label mandatory">Name of Customer</label>
            <div class="row customerName">
              <div class="col-sm-3">
                <input
                  autocomplete="new-text"
                  class="form-control"
                  formcontrolname="firstName"
                  type="text"
                  placeholder="First Name"
                />
              </div>

              <div class="col-sm-3">
                <input
                  autocomplete="new-text"
                  class="form-control"
                  formcontrolname="middleName"
                  placeholder="Middle Name"
                  type="text"
                />
              </div>

              <div class="col-sm-3">
                <input
                  autocomplete="new-text"
                  class="form-control"
                  formcontrolname="lastName"
                  type="text"
                  placeholder="Last Name"
                />
              </div>

              <div class="col-sm-2">
                <select class="form-control mandatory" formcontrolname="nameExt">
                  <option value="">Name Suffix</option>
                  <option value="SR">SR</option>
                  <option value="JR">JR</option>
                  <option value="I">I</option>
                  <option value="II">II</option>
                  <option value="III">III</option>
                  <option value="IV">IV</option>
                  <option value="V">V</option>
                  <option value="99">Other (please specify)</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="control-label mandatory">Date of Birth</label>
                    <div>
                      <!-- <datepicker  >
                <div class="input-group datepicer-icon "> -->
                      <input
                        autocomplete="new-text"
                        focus=""
                        type="text"
                        class="form-control hasDatepicker style-picker"
                        id="birthdate"
                        placeholder="MMDDYYYY"
                      />
                      <!-- <span class="input-group-btn"
                    ><button class="btn btn-default" type="button">
                      <span class="fa fa-calendar"></span></button
                  ></span> -->
                      <!-- </div>
              </datepicker> -->
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">Nationality</label>
                    <div>
                      <select
                        class="form-control"
                        formcontrolname="nationality"
                      >
                        <option value="">Select Country</option>
                        <!---->
                        <option value="PH">PHILIPPINES</option>
                        <option value="AF">AFGHANISTAN</option>
                        <option value="AL">ALBANIA</option>
                        <option value="DZ">ALGERIA</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">Sex</label>
                    <div>
                      <select class="form-control" formcontrolname="gender">
                        <option value="">Select</option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="control-label"
                      >Place of Birth</label
                    >
                    <div>
                      <input
                        autocomplete="new-text"
                        class="form-control"
                        formcontrolname="birthplace"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 lbpgroup">
                  <div class="form-group">
                    <label class="control-label">Civil Status</label>
                    <div>
                      <select
                        class="form-control"
                        formcontrolname="civilStatus"
                      >
                        <option value="">Select Civil Status</option>
                        <option value="S">Single</option>
                        <option value="M">Married</option>
                        <option value="W">Widowed</option>
                        <option value="P">Separated</option>
                        <option value="D">Divorced/Annulled</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!---->
                <div class="col-sm-5">
                  <div class="form-group">
                    <label class="control-label">Mother's Maiden Name</label>
                    <div>
                      <input
                        autocomplete="new-text"
                        class="form-control"
                        formcontrolname="motherMdnName"
                        type="text"
                        placeholder="First Name     Middle Name     Last Name"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" style="display: block; opacity: 1">
                <label class="control-label">Present Address</label>
                <div class="row">
                  <div class="col-sm-4">
                    <label class="control-label addressLabel"
                      >No. / Street</label
                    >
                    <input
                      class="form-control"
                      autocomplete="new-text"
                      formcontrolname="psNoStreet"
                      type="text"
                      placeholder="No. / Street"
                    />
                  </div>
                  <div class="col-sm-4">
                    <label class="control-label addressLabel"
                      >Subd./Brgy./Dist1</label
                    ><input
                      class="form-control"
                      autocomplete="new-text"
                      formcontrolname="psAddrLn1"
                      type="text"
                      placeholder="Subd./Brgy./Dist1"
                    />
                  </div>

                  <div class="col-sm-4">
                    <label class="control-label addressLabel"
                      >Subd./Brgy./Dist2</label
                    >
                    <input
                      class="form-control"
                      autocomplete="new-text"
                      formcontrolname="psAddrLn2"
                      type="text"
                      placeholder="Subd./Brgy./Dist2"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" style="display: block; opacity: 1">
                <div class="row">
                  <div class="col-sm-4">
                    <label class="control-label addressLabel"
                      >Province</label
                    >
                    <input
                      class="form-control"
                      autocomplete="new-text"
                      formcontrolname="psNoStreet"
                      type="text"
                      placeholder="No. / Street"
                    />
                  </div>
                  <div class="col-sm-4 lbpgroup">
                    <label class="control-label addressLabel"
                      >City/Municipality</label
                    ><input
                      class="form-control"
                      autocomplete="new-text"
                      formcontrolname="psAddrLn1"
                      type="text"
                      placeholder="Subd./Brgy./Dist1"
                    />
                  </div>

                  <div class="col-sm-2">
                    <div class="form-group">
                      <label class="control-label">Nationality</label>
                      <div>
                        <select
                          class="form-control"
                          formcontrolname="nationality"
                        >
                          <option value="">Select Country</option>
                          <!---->
                          <option value="PH">PHILIPPINES</option>
                          <option value="AF">AFGHANISTAN</option>
                          <option value="AL">ALBANIA</option>
                          <option value="ZW">ZIMBABWE</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <label class="control-label addressLabel">Zip Code</label>
                    <input
                      class="form-control"
                      autocomplete="new-text"
                      formcontrolname="psAddrLn2"
                      type="text"
                      placeholder="Subd./Brgy./Dist2"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <label class="control-label">Permanent Address</label>
            <div class="marginBottom">
              <div>
                <div class="checkbox">
                  <label class="checkbox-inline">
                    <input class="" formcontrolname="sameAddress" type="checkbox" />
                    Same as Present Address</label
                  >
                </div>
              </div>
              <span class="clearfix"></span>
            </div>
            <div
              class="form-group ng-trigger ng-trigger-addressAnimation"
              style="display: none; opacity: 0"
            >
              <div>
                <div class="col-sm-4">
                  <label class="control-label addressLabel"
                    >No. / Street</label
                  ><input
                    class="form-control"
                    autocomplete="new-text"
                    formcontrolname="pmNoStreet"
                    type="text"
                    placeholder="No. / Street"
                    disabled=""
                  />
                </div>
                <div class="col-sm-4">
                  <label class="control-label addressLabel"
                    >Subd./Brgy./Dist1</label
                  ><input
                    class="form-control"
                    autocomplete="new-text"
                    formcontrolname="pmAddrLn1"
                    type="text"
                    placeholder="Subd./Brgy./Dist1"
                    disabled=""
                  />
                </div>
                <div class="col-sm-4">
                  <label class="control-label addressLabel"
                    >Subd./Brgy./Dist2</label
                  ><input
                    class="form-control"
                    autocomplete="new-text"
                    formcontrolname="pmAddrLn2"
                    type="text"
                    placeholder="Subd./Brgy./Dist2"
                    disabled=""
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!---->
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">Primary Mobile No.</label
                ><input
                  autocomplete="new-text"
                  class="form-control"
                  formcontrolname="mobileNo1"
                  placeholder="Number"
                />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">E-Mail Address</label>
                <div>
                  <input
                    autocomplete="new-text"
                    class="form-control"
                    formcontrolname="emailAddress"
                    placeholder="myname@example.com"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- VALID IDS SECTION -->
      <!-- VALID IDS SECTION -->
      <!-- VALID IDS SECTION -->
      <!-- VALID IDS SECTION -->

      <span class="text-inside-div">Valid IDs</span>
      <div class="section-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">Type of ID</label>
                <div>
                  <select
                    class="form-control"
                    formcontrolname="idType"
                    disabled=""
                    id="0-validid"
                  >
                    <option value="">Select a Valid ID</option>

                    <option
                      value="X1"
                      minlength="29"
                      maxlength="29"
                      scanback="3"
                      address="N"
                      class=""
                    >
                      PHILSYS REGISTRATION NO
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">ID Number </label>
                <div class="input-group">
                  <input
                    autocomplete="new-text"
                    class="form-control"
                    formcontrolname="idNo"
                    type="text"
                  />
                  <div class="input-group-btn">
                    <button
                      class="btn btn-default add exemption-button button-inputgrp"
                      type="button"
                      disabled=""
                    >
                      <i class="fa fa-times text-danger removeIcon"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2" style="margin-left: -15px"></div>
          </div>
        </div>
      </div>

      <!-- ////VALID IDS SECTION -->
      <!-- ////VALID IDS SECTION -->
      <!-- ////VALID IDS SECTION -->
      <!-- ////VALID IDS SECTION -->

      <!-- FINANCIAL INFORMATION -->
      <!-- FINANCIAL INFORMATION -->
      <!-- FINANCIAL INFORMATION -->
      <!-- FINANCIAL INFORMATION -->

      <span class="text-inside-div">Financial Information</span>
      <div class="section-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">Occupation</label>
                <div>
                  <select class="form-control" formcontrolname="occupation">
                    <option value="">Select Occupation</option>

                    <option value="1" class="">Employed</option>

                    <option value="2" class="">Self-employed</option>
                    <option value="3" class="">OFW / Overseas Filipino</option>
                    <option value="4" class="">Retired</option>
                    <option value="6" class="">Farmer / Fisher</option>
                    <option value="7" class="">Student / Minor</option>
                    <option value="8" class="">Unemployed</option>
                    <option value="9" class="">Housewife</option>
                    <option value="10" class="">
                      Lawyers/Notary/Independent legal professional/Accountant
                    </option>
                    <option value="11" class="">
                      Government Official
                    </option></select
                  ><!---->
                </div>
              </div>
            </div>
            <div class="col-sm-4 pull-right">
              <div class="form-group">
                <button class="btn btn-link pull-right">
                  Sources of Funds Guidelines
                </button>
              </div>
            </div>
          </div>



          <div  class="row">
            <div  class="col-sm-4">
              <div  class="form-group">
                <label  class="control-label"
                  >Primary Source of Funds</label
                >
                <div >
                  <!----><select
                    
                    class="form-control ng-untouched ng-pristine ng-valid ng-star-inserted"
                    formcontrolname="fundSource1"
                  >
                    <option  value="">
                      Select Source of Fund
                    </option>
                    <!---->
                    <option  value="10" class="ng-star-inserted">
                      SALARY/ HONORARIA
                    </option>
                    <option  value="20" class="ng-star-inserted">
                      INTEREST/ COMMISSION
                    </option>
                    <option  value="30" class="ng-star-inserted">
                      BUSINESS
                    </option>
                    <option  value="40" class="ng-star-inserted">
                      PENSION
                    </option>
                    <option  value="50" class="ng-star-inserted">
                      REGULAR REMITTANCE
                    </option>
                    <option  value="60" class="ng-star-inserted">
                      OTHER REMITTANCE
                    </option>
                    <option  value="99" class="ng-star-inserted">
                      OTHERS
                    </option>
                    <option  value="70" class="ng-star-inserted">
                      DONATIONS/INHERITANCE
                    </option>
                    <option  value="80" class="ng-star-inserted">
                      ALLOWANCE
                    </option>
                    <option  value="90" class="ng-star-inserted">
                      PROFESSIONAL FEES - OTHERS
                    </option>
                    <option  value="91" class="ng-star-inserted">
                      PROFESSIONAL FEES- LAWYERS/ NOTARY/INDEPENDENT...
                    </option>
                    <option  value="92" class="ng-star-inserted">
                      GRANT/ SCHOLARSHIP/ AWARDS/ PRIZES/ BENEFITS
                    </option>
                    <option  value="93" class="ng-star-inserted">
                      ROYALTIES/ COMMISSION
                    </option>
                    <option  value="94" class="ng-star-inserted">
                      SALE OF ASSETS
                    </option>
                    <option  value="95" class="ng-star-inserted">
                      LOANS
                    </option>
                    <option  value="96" class="ng-star-inserted">
                      GOVERNMENT APPROPRIATIONS
                    </option>
                    <option  value="97" class="ng-star-inserted">
                      FEES AND CHARGES
                    </option>
                    <option  value="98" class="ng-star-inserted">
                      TAXES AND LICENSES
                    </option>
                    <option  value="100" class="ng-star-inserted">
                      OTHERS - WITH DOCUMENTS
                    </option>
                    <option  value="101" class="ng-star-inserted">
                      OTHERS- WITHOUT DOCUMENTS
                    </option></select
                  ><!---->
                </div>
              </div>
            </div>
            <div  class="col-sm-4">
              <div  class="form-group">
                <label  class="control-label"
                  >Monthly Gross Income/Pension/Allowance</label
                >
                <div >
                  <select
                    
                    class="form-control ng-untouched ng-pristine ng-valid"
                    formcontrolname="monthlyGrossInc"
                  >
                    <option  value="">Select Amount Range</option>
                    <!---->
                    <option  value="1" class="ng-star-inserted">
                      Php 30,000 &amp; Below
                    </option>
                    <option  value="2" class="ng-star-inserted">
                      Php 30,000.01 - 50,000
                    </option>
                    <option  value="3" class="ng-star-inserted">
                      Php 50,000.01 - 100,000
                    </option>
                    <option  value="4" class="ng-star-inserted">
                      Php 100,000.01 - 500,000
                    </option>
                    <option  value="5" class="ng-star-inserted">
                      Over Php 500,000
                    </option></select
                  >
                </div>
              </div>
            </div>
            <div  class="col-sm-4">
              <label  class="control-label"
                >Tax Identification Number (TIN)</label
              >
              <div  class="form-group">
                <div >
                  <div  class="input-group">
                    <div  class="input-group-addon">
                      <div  class="checkbox">
                        <label  class=""
                          ><input
                            
                            class="naIND ng-untouched "
                            formcontrolname="naTin"
                            type="checkbox"
                          />
                          N/A
                        </label>
                      </div>
                    </div>
                    <!----><!----><select
                      
                      class="form-control"
                      formcontrolname="tinReason"
                    >
                      <option  value="">
                        Select TIN Unavailability Reason
                      </option>
                      <!---->
                      <option  value="8" class="ng-star-inserted">
                        FARMER/FISHER
                      </option>
                      <option  value="7" class="ng-star-inserted">
                        GENERAL SERVICES/OFW/EMPLOYED WITHOUT TIN
                      </option>
                      <option  value="3" class="ng-star-inserted">
                        HOUSEWIFE/HOUSE HUSBAND
                      </option>
                      <option  value="5" class="ng-star-inserted">
                        MINOR (NON-STUDENT)
                      </option>
                      <option  value="9" class="ng-star-inserted">
                        RETIRED
                      </option>
                      <option  value="4" class="ng-star-inserted">
                        STUDENT
                      </option>
                      <option  value="1" class="ng-star-inserted">
                        TIN PENDING
                      </option>
                      <option  value="6" class="ng-star-inserted">
                        UNEMPLOYED - BENEFICIARY
                      </option>
                    </select>
                  </div>
                  <div  class="help-block">
                    Please exclude RDO/Branch Code
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

   

      <!-- ////FINANCIAL INFORMATION -->
      <!-- ////FINANCIAL INFORMATION -->
      <!-- ////FINANCIAL INFORMATION -->
      <!-- ////FINANCIAL INFORMATION -->

      <!-- <app-form
      (getValue)="getVal($event)"
      [control]="form.controls['firstname']"
      [label]="'Name of Customer'"
    ></app-form>
    <app-form
      (getValue)="getVal($event)"
      [control]="form.controls['lastname']"
      [label]="'Date of Birth'"
    ></app-form> -->
    </form>
  </div>
  <div class="container-fluid">
    <button class="btn-success pull-right" routerLink="../customer-summary">Next</button>
  </div>
  <br>
  <br>
</div>
