

<div class="container">
<div class="header container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-4 col-lg-6">
      <img class="header-logo" src="../../../assets/img/LANDBANK_LOGO.jpg" />
    </div>
  </div>
  <div _ngcontent-c3="" class="col-sm-12 dobs_header"></div>
</div>


<!-- PAGE CONTENT -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <h1 _ngcontent-c3="" style="border-bottom: 0px; top: 5px;
      margin-bottom: 5px !important; margin-left: -14px !important">FORGOT PASSWORD</h1>
   

    <!--BREADCRUMBS -->
    <div class="section-block">
      <div class="row">
          <div *ngIf="!showReminders" class="col-sm-12">
              <p>Forgot Password will help you change your password credential in case you have forgotten your current one.
                 However, for security purpose, you have to supply the needed information.</p>
              <div style="display:block">
    
                <div class="section-block">
                  <div class="notif" style="margin-bottom:20px">First, to verify your enrollment in the application, please input your user ID and registered e-mail address.
                  </div>
    
                <!---  <div  class="alert alert-danger notif" style="display:block" id="errMsg">
                    {{errorMessage}} <span class="fa fa-times-circle closeButton" (click)="errorMessage=''"></span>
                  </div>
    
                  <div class="alert alert-warning notif" style="display:block">
                    {{parameters?.SPT_PW_LOCKED_DAYS}}
                  </div>-->
    
                  <form [formGroup]="resetForm" autocomplete="off">
                    <fieldset class="section-content form-horizontal">
                      <legend>USER VERIFICATION</legend>
                      <div class="row">
                        <div class="col-sm-6">

                          <div class="form-group row ">
                            <label for="userID" class="col-sm-4 col-form-label">User ID<span class="fa fa-asterisk"></span></label>
                            <div class="col-sm-6">
                              <input _ngcontent-c3="" class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="username" id="username" type="text">
                            <!--  <control-messages [control]="resetForm.controls.usrID"></control-messages>-->
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="emailAddress" class="col-sm-4 col-form-label">Email Address<span class="fa fa-asterisk"></span></label>
                            <div class="col-sm-6">
                              <input type="text" formControlName="usrEmail" fieldName="New Password" class="form-control" />
                               <!--  <control-messages [control]="resetForm.controls.usrEmail"></control-messages>-->
                            </div>
                          </div>

                        </div>
                      </div>
                     
                    </fieldset>
                    <div _ngcontent-c3="" class="button-holder non-mobile-display" style="padding-bottom: 30px;">
                      <button _ngcontent-c3="" class="btn btn-success pull-right" type="button"> Submit </button>
                    <button _ngcontent-c3="" class="btn btn-default pull-right" type="button"> Cancel </button>
                  </div>
                  </form>
                  <form *ngIf="acceptAnswer" [formGroup]="verifyForm" autocomplete="off">
                    <fieldset class="section-content form-horizontal">
                      <legend>PASSWORD SETTINGS</legend>
                      <div class="row">
                        <div class="col-sm-10">
                          <div class="form-group">
                            <label for="userID" class="control-label col-sm-5">New Password<span class="fa fa-asterisk"></span></label>
                            <div class="col-sm-7">
                              <input type="password" formControlName="newPassword" id="newUsrPassword" fieldName="New Password" class="form-control pw-metered"
                              />
                           <!---   <control-messages [control]="verifyForm.controls.newPassword"></control-messages>-->
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="emailAddress" class="control-label col-sm-5">Confirm New Password<span class="fa fa-asterisk"></span></label>
                            <div class="col-sm-7">
                              <input type="password" formControlName="confirmNewPassword" id="confirmNewPassword" class="form-control" />
                           <!---  <control-messages [control]="verifyForm.controls.confirmNewPassword"></control-messages>--> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="button-holder">
                        <button *ngIf="acceptAnswer" class="btn btn-default" (click)="cancelReset()" type="button">Cancel</button>
                        <button id="password-button" *ngIf="acceptAnswer" class="btn btn-success disabled-button" (click)="acceptChange()" type="button">Submit</button>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
        <div *ngIf="showReminders" class="col-sm-9">
          <p>Reset Password will help you change your password credential in case you have forgotten your current one. However,
            for security purpose, you have to supply the needed information.</p>
          <div style="display:block">

            <div class="section-block">
              <div class="notif" style="margin-bottom:20px">First, to verify your enrollment in the application, please input your user ID and registered e-mail address.
              </div>

              <div *ngIf="errorMessage" class="alert alert-danger notif" style="display:block" id="errMsg">
                {{errorMessage}} <span class="fa fa-times-circle closeButton" (click)="errorMessage=''"></span>
              </div>

              <div *ngIf="parameters?.SPT_PW_LOCKED_DAYS" class="alert alert-warning notif" style="display:block">
                {{parameters?.SPT_PW_LOCKED_DAYS}}
              </div>

              <form [formGroup]="resetForm" autocomplete="off">
                <fieldset class="section-content form-horizontal">
                  <legend>USER VERIFICATION</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      <div class="form-group">
                        <label for="userID" class="control-label col-sm-5">User ID<span class="fa fa-asterisk"></span></label>
                        <div class="col-sm-7">
                          <input type="text" formControlName="usrID" id="oldPassword" fieldName="Old Password" class="form-control" />
                        <!----  <control-messages [control]="resetForm.controls.usrID"></control-messages>-->
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="emailAddress" class="control-label col-sm-5">Email Address<span class="fa fa-asterisk"></span></label>
                        <div class="col-sm-7">
                          <input type="text" formControlName="usrEmail" fieldName="New Password" class="form-control" />
                        <!---  <control-messages [control]="resetForm.controls.usrEmail"></control-messages>----->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder">
                    <button *ngIf="!acceptAnswer" class="btn btn-default" (click)="cancelReset()" type="button">Cancel</button>
                    <button id="submit-button" *ngIf="!acceptAnswer" class="btn btn-success disabled-button" (click)="onSubmit()" type="button">Submit</button>
                  </div>
                </fieldset>
              </form>
              <form *ngIf="acceptAnswer" [formGroup]="verifyForm" autocomplete="off">
                <fieldset class="section-content form-horizontal">
                  <legend>PASSWORD SETTINGS</legend>
                  <div class="row">
                    <div class="col-sm-10">
                      <div class="form-group">
                        <label for="userID" class="control-label col-sm-5">New Password<span class="fa fa-asterisk"></span></label>
                        <div class="col-sm-7">
                          <input type="password" formControlName="newPassword" id="newUsrPassword" fieldName="New Password" class="form-control pw-metered"
                          />
                        <!---- <control-messages [control]="verifyForm.controls.newPassword"></control-messages>---> 
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="emailAddress" class="control-label col-sm-5">Confirm New Password<span class="fa fa-asterisk"></span></label>
                        <div class="col-sm-7">
                          <input type="password" formControlName="confirmNewPassword" id="confirmNewPassword" class="form-control" />
                       <!----   <control-messages [control]="verifyForm.controls.confirmNewPassword"></control-messages>-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder">
                    <button *ngIf="acceptAnswer" class="btn btn-default" (click)="cancelReset()" type="button">Cancel</button>
                    <button id="password-button" *ngIf="acceptAnswer" class="btn btn-success disabled-button" (click)="acceptChange()" type="button">Submit</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div *ngIf="showReminders" class="col-sm-3 reminders">
          <div class="panel">
            <div class="panel-heading">
              <h5>Reminders</h5>
            </div>
            <div class="panel-body">
              <ul>
                <li>Passwords should have a minimum of {{parameters?.SPT_MIN_LENGTH}} and a maximum of {{parameters?.SPT_MAX_LENGTH}}
                  characters
                </li>
                <li>Passwords should be a combination of alphanumeric characters in upper and lower cases with at least one(1)
                  symbol
                </li>
                <li>Passwords should not contain any of the following characters: ^ &lt; &gt; ; : ' " | [] {{ '{' }} {{ '}' }}
                  () / \</li>
                <li>Passwords should not contain more than {{parameters?.SPT_MAX_PW_REP_CHAR}} consecutive repeating characters</li>
                <li>Passwords should not contain more than {{parameters?.SPT_MAX_PW_CON_CHAR}} consecutive sequential characters</li>
                <li>Passwords should not contain the User ID and not be equal to the word "password" in any case</li>
                <li>Passwords are case sensitive</li>
                <li>Old passwords should not be reused</li>
                <li>Your new password will expire after {{parameters?.SPT_PW_EXP}} {{parameters?.SPT_PW_EXP_UNIT}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
<!----<confirmation-modal [cancelActivated]="true" [removeNo]="true" [confirmButton]="'Ok'" #confirmationModal (acceptTransaction)="changeFinal()"></confirmation-modal>
<confirmation-modal #confirmationModalFinal (acceptTransaction)="changeFinal()"></confirmation-modal>
<confirmation-modal #confirmationModalCancel (acceptTransaction)="confirmCancel()"></confirmation-modal>
<error-modal #errorModal [addzindex]='true'></error-modal>
<success-modal #successModal></success-modal>--->
</div>