.header > ul{
    display: flex;
    align-items: center;
}


li, ul> li > *{
    font-size: 10.5px;
    color: #999999;
}

nav{
    border-bottom: 4px rgb(228, 174, 25) solid;

}

.active > *{
    color: green;
}

@media only screen and (max-width: 500px){
    span{
        display: none;
    }
}

.date{
    border-right: #ccc solid;
    padding-right: 20px ;
}

.logo{
    width: 20px;
}

ul > li {
    padding: 0 6px;    
}


ul{
    margin: 4px 0;
}