.header > ul{
    display: flex;
    align-items: center;
}


li, ul> li > *{
    font-size: 10.5px;
    color: #999999;
}

nav{
    border-bottom: 4px rgb(228, 174, 25) solid;

}

.active > *{
    color: green;
}

@media only screen and (max-width: 500px){
    span{
        display: none;
    }
}

.date{
    border-right: #ccc solid;
    padding-right: 20px ;
}

.logo{
    width: 20px;
}

ul > li {
    padding: 0 6px;    
}


ul{
    margin: 4px 0;
}

#usrInfo{
    /* display: ; */
    position: absolute;
    top: 27px;
    right: 0;
    width: 450px;
    /* border: 1px solid #fec84c; */
    border-top: none;
    border-radius: 0 0 8px 8px;
    background: #fff;
    cursor: default;
    z-index: 1;
    padding: 20px;
}

@media (max-width: 450px){
    #usrInfo{
        width: 200px;
    }
}

.burger{
    width: 14px;
    height: 2px;
    background-color: black;
    margin: 1.5px 0;
    visibility: hidden;
}


.sticky {
    position: fixed;
    width: 100%;
    background-color: rgb(240, 186, 26);
    animation: ease-in-out 10s;
    z-index: 1;
    border-bottom : .5px rgb(228, 174, 25) solid ;

  }