<nav class="header">
  <ul>
    <li>
      <img class="logo" src="../../../assets/img/landbank-logo.png">
    </li>
    <hr>

    <li>
      NAC10702 USER <img style="height: 10px; margin: auto;" src="../../../assets/img/dropdown-arrow.png">
    </li>
    <li>
      <span>25-11-2020 09:43:06 AM</span>
    </li>
    <li>
      <a>
        <i class="fa fa-home"></i><span>HOME</span>
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-sign-out"> </i>LOGOUT
      </a>
    </li>
  </ul>
  
</nav>