

  <div class="col-md-12">

      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="container-fluid">
          <div class="row">
        
            <div class="col-md-10" >
            <div style="border-right: 1px solid #ccc">
              <div *ngFor="let question of questions" >
                <app-question [question]="question" [form]="form"></app-question>
              </div>
            </div>
            </div>
          
              <!-- <button type="submit" [disabled]="!form.valid">Save</button> -->
              <div class="col-md-2">
                <button type="submit" [disabled]="!form.valid" class="btn form-btn btn-search"><i class="fa fa-search"></i>Search</button>
              
                <button class="btn form-btn btn-clear">Clear</button>
              </div>
            </div>
        </div>
     
      </form>
    </div>



 
  <!-- <div *ngIf="payLoad" class="form-row">
    <strong>Values:</strong><br>{{payLoad}}
  </div> -->
