<span class="text-inside-div">Personal Information</span>
<div class="section-content">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="fields-wrapper">
        <div
          class="foot{{ i }}"
          *ngFor="let question of personalInfo; let i = index"
        >
          <div>
            <app-question [question]="question" [form]="form"></app-question>
          </div>

          <br />
        </div>
      </div>
    </form>
  </div>
</div>
