
<div class="container-fluid main">
  <div>
    <div class="head-main">
      <h1>INQUIRE APPLICATION</h1>
    </div>

    <!-- WITHOUT DYNAMIC FORM IMPLEMENTATION -->
    <form>
      <div class="section-content">
        <h2>Search Criteria</h2>
        <div class="row">
          <!-- row between buttons and inputs -->
          <div class="col-md-10" style="border-right: 1px solid #ccc;">
            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <div class="container-fluid">
                    <div class="row">
                      <label class="search-lbl col-md-4 control-label">Application No.</label>
                      <input class="col-md-8 form-control">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="container-fluid">
                    <div class="row">
                      <label class="search-lbl col-md-4 control-label">Name</label>
                      <input class="col-md-8 form-control">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="container-fluid">
                    <div class="row">
                      <label class="search-lbl col-md-4 control-label">Mobile No.</label>
                      <input class="col-md-8 form-control">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="container-fluid">
                    <div class="row">
                      <label class="search-lbl col-md-4 control-label">Email Address</label>
                      <input class="col-md-8 form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-2">
            <button class="btn form-btn btn-search"><i class="fa fa-search"></i>Search</button>
            <button class="btn form-btn btn-clear">Clear</button>
          </div>

        </div>
      </div>


    </form>
    <!-- //WITHOUT DYNAMIC FORM IMPLEMENTATION -->
  </div>

<app-inquire-maintenance></app-inquire-maintenance>


  <div class="section-content" style="visibility: hidden;">
    <div class="">
      <!-- second container-div -->
      <a routerLink="../inquire-summary" style="float: right; font-size: 12px; margin-bottom: 10px"><i
          class="fa fa-wpforms"></i>Inquire</a>
      <div class=" table-responsive" style="width: 100%">


        <table class="table table-condensed table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Application No.</th>
              <th scope="col" style="width: 260px;">Name</th>
              <th scope="col">Mobile No.</th>
              <th scope="col">Email Address</th>
              <th scope="col">Product Type</th>
              <th scope="col">Status</th>
              <th scope="col">Process Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let app of application">
              <td><input type="radio"></td>
              <td>{{app.id}}</td>
              <td>{{ app.name }}</td>
              <td>{{ app.mobileNum }}</td>
              <td>{{ app.email }}</td>
              <td></td>
              <td>FOR CORP APPROVAL</td>
              <td>11/25/2020 09:23:11</td>
            </tr>
          </tbody>
        </table>
        <div class="container">
  
        <div class="page row">
          <div class="col-sm-12 col-md-3" >
            <span class="">Page 1 of 1 </span>
            <span class="">Total No. of Records: {{ application?.length }}</span>
          </div>

          <div class="col-sm-12 col-md-6">
            <button class="btn btn-default " type="button" disabled="">‹‹</button>
            <button class="btn btn-default  " type="button" disabled="">‹</button>
            <input autocomplete="new-text" class="form-control" formcontrolname="pageInput" type="text">
            <button class="btn btn-default " type="button" disabled="">Go to Page</button>
            <button class="btn btn-default  " type="button" disabled="">›</button>
            <button class="btn btn-default " type="button" disabled="">››</button>
          </div>
        </div>
        
      </div>
      </div>

    </div>
  </div>
</div>