
h2{
    color: #928e6a;
}

.head-main{
    padding: 20px 0;
}


.btn-search{
    color: #fff;
    background-color: #337ab7;
    color: white;
}

.btn-clear{
    background-color: rgb(255, 255, 255);
    color: #06c;
}



.search-lbl{
    text-align: end;
    margin-top: 6px;
}

.form-btn{
    border: none;
    width: inherit;
    margin-bottom: 6px;
    height: 25px;
    line-height: 12px;
    font-size: 12px;
}

label{
    display: inline-block;
    width: 140px;
    /* text-align: right; */
}


@media only screen and (max-width: 770px){
    .search-lbl{
        text-align: left;
        padding-left: 0;
    }
}
input.form-control{
    border-radius: 2px;
    height: 30px;
}
