<app-navbar></app-navbar>

<div>
  <h1>INQUIRE APPLICATION</h1>
  <hr>
  <form>
    <h5>Search Criteria</h5>

    <div class="row">
      <div>
        <div>
          <p>Application No.</p>
          <input >
        </div>
  
        <div>
          <p>Name</p>
          <input >
        </div>
  
      </div>
      <div>
        <div>
          <p>Mobile No.</p>
          <input >
        </div>
  
        <div>
          <p>Email Address</p>
          <input >
        </div>
  

      </div>


    </div>
      <hr>
    <div>
      <button>Search</button>
      <button>Clear</button>
    </div>

    </form>
</div>
<br>
<div>
  <a routerLink ="../inquire-summary">Inquire</a>
  <table style="width: 100%;">
      <tr>
        <th></th>
        <th>Application No.</th>
        <th>Name</th>
        <th>Mobile No.</th>
        <th>Email Address</th>
        <th>Product Type</th>
        <th>Status</th>
        <th>Process Date</th>
      </tr>
      <tr>
        <td><input type="radio"></td>
        <td>AP0000000769</td>
        <td>ROBERT SANTIAGO</td>
        <td>09928149210</td>
        <td>email@gmail.com</td>
        <td></td>
        <td>FOR CORP APPROVAL</td>
        <td>11/25/2020 09:23:11</td>
      </tr>

      <tr>
        <td><input type="radio"></td>
        <td>AP0000000769</td>
        <td>ROBERT SANTIAGO</td>
        <td>09928149210</td>
        <td>email@gmail.com</td>
        <td></td>
        <td>FOR CORP APPROVAL</td>
        <td>11/25/2020 09:23:11</td>
      </tr>
  </table>
  <p>Pagination</p>
</div>
