
  <div class="container-fluid" [formGroup]="form">
      <div class="row">
        <label class="col-md-4
          control-label label"
           [attr.for]="question.key">{{question.label}}</label>


        <div [ngSwitch]="question.controlType" class="col-md-8">
          <input class="form-control input" *ngSwitchCase="'textbox'" [formControlName]="question.key"
                  [id]="question.key" [type]="question.type" [placeholder]="question.placeholder" [attr.disabled] = "question.disabled? '' :  null ">
      
          <select class="form-control input" [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
            <option selected disabled value="">Select an option</option>
            <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
          </select>
        </div>
      </div>


  <small class="errorMessage" *ngIf="!isValid">{{question.label}} is required</small>
</div>
