
  <div class="container-fluid" [formGroup]="form">
      <div class="row">
        <label class="search-lbl
          control-label col-md-4" style="width: 140px;"
           [attr.for]="question.key">{{question.label}}</label>

        <div [ngSwitch]="question.controlType" class="col-md-8">
          <input class="form-control" *ngSwitchCase="'textbox'" [formControlName]="question.key"
                  [id]="question.key" [type]="question.type" [placeholder]="question.placeholder">
      
          <select class="form-control" [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
            <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
          </select>
        </div>
      </div>


  <small class="errorMessage" *ngIf="!isValid">{{question.label}} is required</small>
</div>
