.fields-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

span{
    font-size: 12px;
    color: #928e6a;
}


@media only screen and (max-width: 500px){
    .fields-wrapper{
        grid-template-columns: 1fr;
    }

}


button{
    width: 40px; height: 30px;
    border: none;   
    margin: 24px 0 0 -10px;
}

button > i{
    font-size: 12px;
}