<div class="main-page col-md-10">
  <header class="ng-tns-c3-4" _nghost-c4="">
    <div _ngcontent-c4="" id="app-header" style=" left: 0px;">
      <div _ngcontent-c4="" class="container-fluid"><!---->
        <div _ngcontent-c4="" class="" id="app-brand"><span _ngcontent-c4="" id="app-logo"></span>
          <span _ngcontent-c4="" id="app-sname"></span>
          <span _ngcontent-c4="" id="app-name"></span>
        </div>
        <ul _ngcontent-c4="" class="pull-right" id="top-nav">
          <li _ngcontent-c4="">
            <div _ngcontent-c4="">NAC10702 USER <i _ngcontent-c4="" class="fa fa-lg fa-fw fa-angle-down"></i>
            </div>
            <div _ngcontent-c4="" id="usrInfo" style="display: none;">
              <ul _ngcontent-c4="" class="list-group" id="usrMenu">
                <li _ngcontent-c4="" class="list-group-item"><a _ngcontent-c4="">
                  <i _ngcontent-c4="" class="fa fa-lg fa-fw fa-sliders"></i> Security Settings</a>
                  <ul _ngcontent-c4="" class="list-group">
                    <li _ngcontent-c4="" class="list-group-item">
                      <a _ngcontent-c4="" style="cursor:pointer">Change Password</a>
                    </li>
                  </ul>
                </li>
                <li _ngcontent-c4="" class="list-group-item">
                  <a _ngcontent-c4="">
                    <i _ngcontent-c4="" class="fa fa-lg fa-fw fa-history">

                    </i> Account Activities</a>
                    <ul _ngcontent-c4="" class="list-group">
                      <li _ngcontent-c4="" class="list-group-item">
                        <a _ngcontent-c4="">Access Log</a>
                      </li>
                      <li _ngcontent-c4="" class="list-group-item">
                        <a _ngcontent-c4="">Transaction Log</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <div _ngcontent-c4="" class="panel panel-default">
                  <div _ngcontent-c4="" class="panel-heading">
                    <h3 _ngcontent-c4="">NAC10702 USER</h3>
                    <span _ngcontent-c4="" id="userRole"></span>
                    <span _ngcontent-c4="" id="userRC">Landbank Corp.</span>
                  </div><div _ngcontent-c4="" class="panel-body">
                    <div _ngcontent-c4="" class="row">
                      <label _ngcontent-c4="" class="control-label col-sm-6">User Branch</label>
                      <p _ngcontent-c4="" class="form-control-static col-sm-6">110 - SAN JOSE CITY (NE)</p>
                    </div><div _ngcontent-c4="" class="row">
                      <label _ngcontent-c4="" class="control-label col-sm-6">Last Login Date</label>
                      <p _ngcontent-c4="" class="form-control-static col-sm-6">11/26/2020 07:57:39 AM</p>
                    </div>
                    <div _ngcontent-c4="" class="row">
                      <label _ngcontent-c4="" class="control-label col-sm-6">Invalid Login Attempt</label>
                      <p _ngcontent-c4="" class="form-control-static col-sm-6">0</p>
                    </div>
                    <div _ngcontent-c4="" class="row">
                      <label _ngcontent-c4="" class="control-label col-sm-6">Last Password Changed</label>
                      <p _ngcontent-c4="" class="form-control-static col-sm-6">

                      </p>
                    </div>
                    <div _ngcontent-c4="" class="row">
                      <label _ngcontent-c4="" class="control-label col-sm-6">Password Validity</label>
                      <p _ngcontent-c4="" class="form-control-static col-sm-6">08/17/2023</p>
                    </div>
                    <div _ngcontent-c4="" class="row">
                      <label _ngcontent-c4="" class="control-label col-sm-6">User ID Validity</label>
                      <p _ngcontent-c4="" class="form-control-static col-sm-6">Valid until </p>
                    </div></div></div></div></li><li _ngcontent-c4="">
                      <span _ngcontent-c4="" id="curDate">26-11-2020 05:03:29 PM</span>
                    </li>
                    <li _ngcontent-c4="" class="active m-hide">
                      <a _ngcontent-c4="" class="active" target="_self">
                        <i _ngcontent-c4="" class="fa fa-lg fa-home"></i>
                        <span _ngcontent-c4="" class="top-nav-title" xlabel="lnkHome">Home</span></a></li>
                        <li _ngcontent-c4=""><a _ngcontent-c4="" target="_self"><i _ngcontent-c4="" class="fa fa-lg fa-sign-out"></i>
                          <span _ngcontent-c4="" class="top-nav-title" xlabel="lnkLogout">Logout</span>
                        </a>
                        </li>
                        </ul>
                          <div _ngcontent-c4="" class="clear"></div>
                        </div>
                      </div>
                     <!--- <session-timeout-modal _ngcontent-c4="" _nghost-c10="">
                            <div _ngcontent-c10="" aria-hidden="true" bsmodal="" class="modal confirmation-modal-comp fade maxZIndex confirmation-modal-center" role="dialog" tabindex="-1">
                              <div _ngcontent-c10="" class="modal-dialog modal-sm">
                                <div _ngcontent-c10="" class="modal-content">
                                  <div _ngcontent-c10="" class="modal-header">
                                    <h4 _ngcontent-c10="" class="modal-title">
                                      <span _ngcontent-c10="" class="fa fa-comment"></span> Message</h4>
                                    </div>
                                    <div _ngcontent-c10="" class="modal-body" style="text-align:center;">
                                      <h4 _ngcontent-c10="" class="ng-star-inserted"></h4></div>
                                      <div _ngcontent-c10="" class="modal-footer">
                                        <div _ngcontent-c10="" class="text-center">
                                          <button _ngcontent-c10="" class="btn btn-default ng-star-inserted" type="button">Yes</button>
                                          
                                          
                                          <button _ngcontent-c10="" class="btn btn-default ng-star-inserted" type="button">No</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </session-timeout-modal>-->
                            
                            
                            </header>
                            <div class="section" id="app-body" style="margin-top: 10px;">
                              <div class="col-md-2 first-menu" id="app-menu" style="left: 0px;">
                                <div class="m-menu" id="showMenu"><!---->
                                  <span class="fa stick fa-thumb-tack ng-tns-c3-4 ng-star-inserted">

                                  </span><!----></div>
                                  <ul class="list-group" id="main-menu">
                                  <!---  <menu-view class="ng-tns-c3-4" _nghost-c5="">
                                      <div _ngcontent-c5="" class="ng-star-inserted">
                                        <li _ngcontent-c5="" class="list-group-item only-menu">
                                          <a _ngcontent-c5="" class="menu-link" style="color: rgb(255, 255, 255);">Change Password</a></li></div>
                                          <div _ngcontent-c5="" class="ng-star-inserted">
                                            <li _ngcontent-c5="" class="list-group-item only-menu">
                                            <a _ngcontent-c5="" class="menu-link" style="color: rgb(254, 200, 76);">Create LMPC</a>
                                          </li></div>
                                          <div _ngcontent-c5="" class="ng-star-inserted">
                                            <li _ngcontent-c5="" class="list-group-item only-menu">
                                              <a _ngcontent-c5="" class="menu-link" style="color: rgb(255, 255, 255);">Inquire Application</a></li>
                                            </div>
                                            <div _ngcontent-c5="" class="ng-star-inserted">
                                              <li _ngcontent-c5="" class="list-group-item only-menu">
                                                
                                                
                                                <a _ngcontent-c5="" class="menu-link" style="color: rgb(255, 255, 255);">Upload DES File</a>
                                              </li>
                                            </div>
                                            
                                            <div _ngcontent-c5="" class="ng-star-inserted">
                                              <li _ngcontent-c5="" class="list-group-item only-menu"><a _ngcontent-c5="" class="menu-link" style="color: rgb(255, 255, 255);">LMPC Statistics</a>
                                              </li></div></menu-view>
                                              </li></div></menu-view>--->
											  
											  
											  
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="col-md-12" id="app-contents">
                                       <!---   <div class="container-fluid"><app-progress-page class="ng-tns-c3-4" _nghost-c6=""></app-progress-page><!---->
                                            <h1 class="ng-tns-c3-4">LANDBANK ACCOUNT OPENING <!----><!----></h1>
                                            <h3 class="ng-tns-c3-4">ACCOUNT INFORMATION - PERSONAL</h3>
                                            <br class="ng-tns-c3-4"><main class="ng-tns-c3-4 ng-trigger ng-trigger-routerTransition">
                                              <router-outlet class="ng-tns-c3-4">

                                              </router-outlet>
                                            <!--  <account-init class="ng-star-inserted" style="">-->
                                                <div class="col-sm-12">
                                                  <form novalidate="" class="ng-pristine ng-invalid ng-touched">
                                                    <div class="col-sm-12">
													
												<!---	<div-alert>

                                                    </div-alert>-><!----><!----><!----><!----><!---->
													
													
													</div><div class="alert alert-success alert-dismissible" id="saveAlert" role="alert" style="display:none">
                                                      <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                                        <span aria-hidden="true">×</span>
                                                      </button><div><i class="fa fa-check">

                                                      </i> Details of your application was successfully saved with the following access credentials. </div>
                                                      <p>
                                                        <b>Application Reference No. </b> 201799999999 <br>
                                                        <b>Email Address</b> jpsantos@mail.com </p></div><div class="row">
                                                          <div class="col-sm-12"><div class="section-block"><div class="section-header"><h2>Accountholder's Details</h2></div><div class="section-contents"><!---->
                                                            <div class="row ng-star-inserted"><div class="col-sm-12">
                                                              <div class="form-group">
                                                                <label class="control-label mandatory">Primary Account Name</label>
                                                                <div class="col-sm-4 lbpgroup">
                                                                  <input autocomplete="new-text" class="form-control ng-pristine ng-invalid ng-touched" focus="" formcontrolname="firstName" type="text" placeholder="FirstName">
                                                             <!---     <control-messages _nghost-c2=""><!---->
                                                                    <div _ngcontent-c2="" class="err-inline ng-star-inserted">
                                                                      <span _ngcontent-c2="" class="fa fa-times-circle" style="font-size:10px; color:red;"></span> Mandatory</div>
                                                                   <!--- </control-messages>--->
                                                                  </div>
                                                                  <div class="col-sm-3 lbpgroup">
                                                                    <input autocomplete="new-text" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="middleName" type="text" placeholder="Middle Name">
                                                                <!---    <control-messages _nghost-c2=""></control-messages>---->
                                                                  </div>
                                                                  <div class="col-sm-3 lbpgroup">
                                                                    <input autocomplete="new-text" class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="lastName" type="text" placeholder="Last Name">
                                                                  <!--  <control-messages _nghost-c2=""></control-messages>-->
                                                                  </div>
                                                                  <div class="col-sm-2 lbpgroup-last"><!---->
                                                                    <select class="form-control ng-untouched ng-pristine ng-valid ng-star-inserted" formcontrolname="nameExt">
                                                                      <option class="dropdown-placeholder" value="">Name Suffix</option><!---->
                                                                      <option value="SR" class="ng-star-inserted">SR</option>
                                                                      <option value="JR" class="ng-star-inserted">JR</option>
                                                                      <option value="I" class="ng-star-inserted">I</option>
                                                                      <option value="II" class="ng-star-inserted">II</option>
                                                                      <option value="III" class="ng-star-inserted">III</option>
                                                                      <option value="IV" class="ng-star-inserted">IV</option>
                                                                      <option value="V" class="ng-star-inserted">V</option>
                                                                      <option value="99" class="ng-star-inserted">Other (please specify)</option></select><!---->
                                                                  <!---    <control-messages _nghost-c2=""></control-messages>--->
                                                                     <!---    <control-messages _nghost-c2=""></control-messages>--->
																	 
																	 </div></div></div>
                                                                    </div><!----><div class="applicationNoDiv"></div>
                                                                    <div class="clearfix"></div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div><!---->
                                                            <div class="button-holder">
                                                              <button class="btn btn-success pull-right" id="saosoa" type="submit">Proceed with Application</button>
                                                            </div>
                                                          </form>
                                                        </div>
                                                 <!---       <generic-modal _nghost-c7=""><div _ngcontent-c7="" aria-hidden="true" bsmodal="" class="modal generic-modal-comp fade generic-modal-center" role="dialog" tabindex="-1">
                                                          <div _ngcontent-c7="" class="modal-dialog modal-md"><div _ngcontent-c7="" class="modal-content">
                                                            <div _ngcontent-c7="" class="modal-body">
                                                              <div _ngcontent-c7="" class="col-md-3 modal-logo">
                                                                <div _ngcontent-c7="" class="error-logo ng-star-inserted"></div>
																</div>
                                                                <div _ngcontent-c7="" class="col-md-9 col-xs-12">
                                                                  <h1 _ngcontent-c7="" style="color: rgb(158, 12, 12); font-size:20px" class="ng-star-inserted">Error</h1>
                                                                  <h3 _ngcontent-c7="" style="white-space: no-wrap" class="ng-star-inserted"></h3>
                                                                  
                                                                </div>
                                                              </div>
                                                              <div _ngcontent-c7="" class="modal-footer">
                                                                <div _ngcontent-c7="" class="text-center">
                                                                  <button _ngcontent-c7="" class="btn btn-default ng-star-inserted" style="margin-right: 2%">OK</button>
                                                                
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </generic-modal>--->
                                                   <!---   <ngx-busy _nghost-c11="">
                                                      </ngx-busy>-->
                                                  <!--  </account-init>-->
                                                  </main>
                                                </div>
                                              </div>
                                       
