
<div class="container-fluid main">
  <div class="head-main">
    <h1>LANDBANK ACCOUNT OPENING </h1>
    <h3 class="ng-tns-c3-4">ACCOUNT INFORMATION - PERSONAL</h3>
  </div>


    <div class="col-md-12" id="app-contents">
      <form novalidate="" class="ng-pristine ng-invalid ng-touched">
            <div class="row">
              <div class="col-sm-12">
                <div class="section-block">
                 
                    <fieldset class="section-content form-horizontal">
                      <legend>Accountholder's Details</legend>
                 
                  <div class="section-contents">
                      <div class="col-sm-12">
                          <label class="control-label mandatory">Primary Account Name</label>
                          <div class="row">
                            
                        <div class="col-md-3">
                          <div class="form-group">
                            <div class="container-fluid">
                              <div class="row">
                                <input autocomplete="new-text" class="form-control"
                                focus="" formcontrolname="firstName" type="text" placeholder="FirstName">
                              </div>
                            </div>
                          </div>
                        </div>

                         
                        <div class="col-md-3">
                          <div class="form-group">
                            <div class="container-fluid">
                              <div class="row">
                                <input autocomplete="new-text" class="form-control"
                              formcontrolname="middleName" type="text" placeholder="Middle Name">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group">
                            <div class="container-fluid">
                              <div class="row">
                                <input autocomplete="new-text" class="form-control"
                              formcontrolname="lastName" type="text" placeholder="Last Name">
                              </div>
                            </div>
                          </div>
                        </div>


                        
                          <div class="col-sm-3 ">
                            <!---->
                            <select class="form-control ng-untouched"
                              formcontrolname="nameExt">
                              <option class="dropdown-placeholder" value="">Name Suffix</option>
                              <!---->
                              <option value="SR" class="ng-star-inserted">SR</option>
                              <option value="JR" class="ng-star-inserted">JR</option>
                              <option value="I" class="ng-star-inserted">I</option>
                              <option value="II" class="ng-star-inserted">II</option>
                              <option value="III" class="ng-star-inserted">III</option>
                              <option value="IV" class="ng-star-inserted">IV</option>
                              <option value="V" class="ng-star-inserted">V</option>
                              <option value="99" class="ng-star-inserted">Other (please specify)</option>
                            </select>
                          </div>
                       </div>
                      </div><!----12-->


                    <div class="applicationNoDiv"></div>
                    <div class="clearfix"></div>
                  </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="button-holder">
              <button class="btn btn-success pull-right" id="saosoa" type="submit">Proceed with Application</button>
            </div>
          </form>
    </div>
</div>

