.sidenav {
  height: 100%;
  width:200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(7,79,47,1) 7%, #fec84c 7%, rgba(11,128,11,1) 7.9%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #89a888;
}

.sidenav .closebtn {
  position: absolute;
  top: -8px;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

span{
    margin-top: -38px;
    margin-left: 8px;
    position: absolute;
}