.sidenav {
  height: 100%;
  width:200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom,rgba(7,79,47,1) 0,  rgba(7,79,47,1) 32px,rgba(7,79,47,1) 32px, #fec84c 32px, #fec84c 35px, rgba(11,128,11,1) 35px,rgba(11,128,11,1) 100%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-transform: uppercase;
  box-shadow: rgba(7,79,47,1) 0 0 20px;
}

.sidenav a {
  padding: 0px 6px 0px 20px;
  text-decoration: none;
  font-size: 9px;
  font-weight: bold;
  color: #fff;
  display: block;
  transition: 0.3s;
  line-height: 30px;
}

.sidenav a:nth-child(2){
  margin-top: -24px;
}

.links{
  border-bottom:2px solid  #576857;
}

.sidenav a:hover {
  color: hsl(59, 84%, 65%);
}

.sidenav .closebtn {
  position: absolute;
  top: 2px;
  right: 0px;
  margin-left: 50px;
  font-size: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

span{
    margin-top: -28px;
    margin-left: 8px;
    position: absolute;
    font-size: 14px !important;
}