

    <form id="login-box" class="panel" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
     
      <div class="panel-heading">       
        <div class="login-header-image">
        <div class="header-image">
          <img src="../../../assets/img/LANDBANK_LOGO.jpg" alt="Landbank Logo" width="100px" height="10px">
        </div>
      </div>
      </div>
      <div class="panel-body">
             <div class="error-holder"> 
          <div class="force-logout" *ngIf="errorMessage && errorMessage != 'Force Logout' && !showLoading">
              <div class="alert alert-danger">
              {{errorMessage}}
              </div>
          </div>
          <div *ngIf="dataPasserService.showLoading" class="loader">
            <div class="login-loader"></div>
            <p>Logging In</p>
          </div>
          <div class="force-logout" *ngIf="errorMessage && errorMessage == 'Force Logout' && !showLoading">

              <div class="alert alert-danger">
                  Your User ID is currently logged in. You can <a (click)="remoteLogout();"  style="cursor: pointer;">click here</a> to log
                  it out. If you are not aware of this activity please contact your system administrator.
              </div>

          </div>
       </div>
        

  

        <div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                <i class="fa fa-user-o"></i>
              </div>
              </div>
              <input id="usr_id" formControlName="username" class="form-control" type="text" autocomplete="new-text" placeholder="User ID"/>
          </div>
          <control-messages [control]="loginForm.controls.username"></control-messages>
        </div>
      </div>
              
        <div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                <i class="fa fa-key"></i>
              </div>
            </div>
              <input id="usr_password" formControlName="password" class="form-control" placeholder="Password" type="password" autocomplete="new-password"/>
          </div>
          <control-messages [control]="loginForm.controls.password"></control-messages>
        </div>
      </div>


        <button type="submit" class="btn btn-success">
          Login
        </button>
        <div>
            <!-- <a id="forgot-pw"  (click)="goToChangePassword();" style="cursor: pointer">Change Password</a> -->
        </div>
        <div _ngcontent-c1="">
          <a _ngcontent-c1="" class="pull-right" id="forgot-pw" style="cursor: pointer">Forgot Password?</a>
        </div>
      </div>
  
      <div class="panel-footer" id="login-reminders">
        <h6>Important</h6>
        <ul class="list-group">
          <li class="list-group-item" xlabel="loginRem1">Password is case sensitive</li>
          <li class="list-group-item" xlabel="loginRem2">For your security, you have a limited number of attempts to supply the correct credentials.</li>
          <li class="list-group-item" xlabel="loginRem3">Do not forget to logout the application once you completed your transaction.</li>
        </ul>
          <span><h3>Version {{version}}</h3></span>
        <div>

        </div>                      
      </div>                
  </form>