h1{
    color: #026b05;
}

.head{
    border-bottom: 1px solid #ccc;
}

.head-outer{
    padding: 20px 0;
}

p, h1{
    margin: 4px 0;
}

p{
    font-size: 12px;
}

.continue-btn{
    background: #1a9101;
    border: 1px solid #115e01;
    color: white;
    padding: 4px 10px;
}

a{
    color: #06c;
}

