
<div class="container-fluid main-view-mobile">
  <div class="head-outer">
    <div class="d-flex justify-content-between head align-items-center">
      <h1>CUSTOMER INQUIRE</h1>
      <p><label>CLIENT NAME: </label> ELI LABOURNE</p>
    </div>
    <h1>CLIENT INFORMATION SUMMARY</h1>
  </div>

  <div>
    <span class="text-inside-div">Personal Information</span>

    <!--  -->

    <div class="section-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Name of Customer</label>

              <div>
                <p class="">{{selectedRequest?.firstName}} {{selectedRequest?.lastName}}</p>
              </div>
            </div>
          </div>
        </div>

        <!--  -->
  
        <div class="row">
          <div class="col-sm-4">
            <label class="control-label">Date of Birth</label>
            <div>
              <p class="">{{selectedRequest?.birthDay | date}}</p>
            </div>
          </div>

          <div class="col-sm-4">
            <label class="control-label">Nationality</label>
            <div>
              <p class="">{{ selectedRequest?.nationality }}</p>
            </div>
          </div>

          <div class="col-sm-4">
            <label class="control-label">Sex</label>
            <div>
              <p class="">{{ selectedRequest?.sex }}</p>
            </div>
          </div>
        </div>

        <!--  -->
  
        <div class="row">
          <div class="col-sm-4">
            <label class="control-label">Place of Birth</label>
            <div>
              <p class="">{{ selectedRequest?.birthPlace }}</p>
            </div>
          </div>

          <div class="col-sm-4">
            <label class="control-label">CIVIL STATUS</label>
            <div>
              <p class="">{{selectedRequest?.civilStatus}}</p>
            </div>
          </div>

          <div class="col-sm-4">
            <label class="control-label">Mother's Maiden Name</label>
            <div>
              <p class="">{{selectedRequest?.motherName}}</p>
            </div>
          </div>
        </div>

        <!--  -->
  

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label">Present Address</label>
              <div>
                <p class="">{{selectedRequest?.presentAddress}}</p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label">Permanent Address</label>
              <div>
                <p class="">{{selectedRequest?.permanentAddress}}</p>
              </div>
            </div>
          </div>
        </div>

        <!--  -->
  
        <div class="row">
          <div class="col-sm-4">
            <label class="control-label">Mobile No.</label>
            <div>
              <p class="">{{selectedRequest?.mobileNum}}</p>
            </div>
          </div>

          <div class="col-sm-4">
            <label class="control-label">E-Mail Address</label>
            <div>
              <p class="">{{selectedRequest?.email}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <span class="text-inside-div">Valid IDs</span>

    <div class="section-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <label class="control-label">Type of ID</label>
            <div>
              <p class="">PHILSYS REGISTRATION NO</p>
            </div>
          </div>

          <div class="col-sm-4">
            <label class="control-label">
              ID Number</label>
            <div>
              <p class="">46436242346346575486868658545</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->

  <div>
    <span class="text-inside-div">Financial Information</span>

    <div class="section-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <label class="control-label">Occupation
            </label>
            <div>
              <p class="">FARMER / FISHER</p>
            </div>
          </div>
        </div>


        <!--  -->

  
        <div class="row">
          <div class="col-sm-4">
            <label class="control-label">Source of Wealth</label>
            <div>
              <p class="">ALLOWANCE</p>
            </div>
          </div>

          <div class="col-sm-4">
            <label class="control-label">Gross Monthly Income</label>
            <div>
              <p class="">PHP 30,000 & BELOW

              </p>
            </div>
          </div>

          <div class="col-sm-4">
            <label class="control-label">Tax Identification Number (TIN)</label>
            <div>
              <p class=""></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>



  

  <div *ngIf="showContent" class="d-flex justify-content-between">
    <a routerLink="/inquire"><i class="fa fa-chevron-left"></i>Back</a>
    <button class="continue-btn" routerLink="/inquire-client">Continue Application</button>
  </div>
    <br>
</div>
